/* -------------------------------------------------------- */
/* RESET */
/* -------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

/* -------------------------------------------------------- */
/* INICIO */
/* -------------------------------------------------------- */

/* Header */

nav {
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav ul {
    background-color: rgb(17, 18, 18);
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    text-transform: uppercase;
    z-index: 2;
    padding: 10px;
}

nav ul li a {
    color: rgb(223, 228, 233);
}


/* Main */

.hero-title {
    z-index: 2;
    position: absolute;
    left: 150px;
    display: inline-block;
    color: rgb(228, 233, 238);
}

h1.hero-title {
    top: 100px;
    font-size: 3rem;
}

h2.hero-title {
    top: 200px;
    height: 210px;
    width: 500px;
}

.hero-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

section.home {
    text-align: center;
    margin-top: 30px;
}

section.home article {
    display: inline-block;
    width: 25%;
    margin-left: 20px;
}

section.home article img {
    width: 200px;
    height: 200px;
}

section.home article h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* -------------------------------------------------------- */
/* SERVICIOS */
/* -------------------------------------------------------- */

.services {
    margin-left: 20px;
    margin-top: 20px;
}

section.services p,
section.services h3 {
    margin-top: 10px;
}

/* -------------------------------------------------------- */
/* EXPERIENCIAS */
/* -------------------------------------------------------- */

.experiences {
    margin-left: 20px;
    margin-top: 20px;
}

.experiences article {
    display: inline-block;
    margin-right: 20px;
}

.experiences article img {
    border-radius: 20px;
    height: 200px;
    width: 300px;
    object-fit: contain;
    margin-top: 10px;
}

.experiences article h3 {
    margin-top: 10px;
}

.experiences iframe {
    border-radius: 20px;
}

article.references {
    height: 350px;
    width: 300px;
}

article.references img {
    border-radius: 50%;
    width: 75%;
    margin-left: 12.5%;
}

/* -------------------------------------------------------- */
/* NOSOTROS */
/* -------------------------------------------------------- */

.about-us {
    margin-left: 20px;
    margin-top: 20px;
}

.about-us p,
.about-us h2 {
    margin-top: 10px;
}

/* -------------------------------------------------------- */
/* CONTACTO */
/* -------------------------------------------------------- */

.contact {
    margin-left: 6.25%;
    margin-right: 6.25%;
    margin-top: 20px;
}

section.contact {
    background-color: antiquewhite;
    height: 440px;
    padding-top: 30px;
    padding-left: 50px;
}

.contact article {
    display: inline-block;
    margin-left: 20px;
}

.contact form input,
.contact form textarea,
.contact form label {
    display: block;
    margin-top: 5px;
    width: 250px;
    border: none;
}

.contact img {
    width: 600px;
    height: 310px;
    display: block;
}

article.contact-form-aside {
    margin-left: 50px;
}

div.contact-tel {
    display: inline-block;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input.contact-submit {
    background-color: beige;
    border: 1px solid rgb(178, 176, 176) !important;
    cursor: pointer;
}

.contact textarea {
    resize: none;
}

/* Footer */

footer {
    background-color: rgb(17, 18, 18);
    color: rgb(228, 233, 238);
    margin-top: 100px;
}

footer p {
    text-align: center;
    padding-top: 10px;
}

footer div p {
    display: inline-block;
}

footer div {
    width: 200px;
    display: inline-block;
    margin-left: 25%;
}

footer a {
    color: rgb(228, 233, 238);
}